<section id="section-index" class="section-index js--section-index">

    <div class="pagination">
        <a class="page-number js--page-number" href="/select/{{previousPage}}">Previous</a> &nbsp;
        {{#evaluate range  currentPage}}
        {{this.value}}
        {{/evaluate}}
        &nbsp; <a class="page-number js--page-number" href="/select/{{nextPage}}">Next</a>
    </div>

    <div class="row span-4-of-4 products-display">
        {{#each result}}
        <div class="product-box js-animation-1">
            <div>
                <figure class="image-container">
                    <img src="/images/products/{{thumbnail}}" alt="product">
                </figure>
            </div>
            <div>
                <h5>{{name}}&nbsp;&dash;&nbsp;&dollar;{{price}}</h5>
            </div>
            <div>
                <a href="/index/cart/{{product_id}}" id="btn-see-product-{{@index}}" class="btn primary-btn">See product</a>
                <a href="#section-index" id="btn-out-of-stock-{{@index}}" class="btn secondary-btn">Out of stock</a>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="lower-pagination">
        <a class="page-number js--page-number" href="/select/{{previousPage}}">Previous</a> &nbsp;
        {{#evaluate range  currentPage}}
        {{this.value}}
        {{/evaluate}}
        &nbsp; <a class="page-number js--page-number" href="/select/{{nextPage}}">Next</a>
    </div>

    <select class="selector">
        {{#each quantities}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>
</section>
