<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div id="loadingDiv" class="loading"><img style="margin-top: 100px; margin-left: 500px;" width="200" height="200"
            src="/images/Reload-circle.gif"></div>

    <div id="container" class="container">
        {{#if user}} {{!-- if the user is logged--}}
        {{#if errorMessage}} {{!-- the search failed--}}
        <section class="py-5">
            <h1 class="display-3">Error</h1>
            <p>{{errorMessage}}</p>
        </section>
        {{else}} {{!-- the search found something --}}
        <div class="row">
            {{#each item}}
            <div class="col-sm d-flex align-items-stretch">
                <div class="card" style="width: 250px;">
                    <img class="card-img-top" src="/images/{{this.thumbnail}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <h4>${{this.price}}</h4>
                            <a class="btn btn-success" href="/index/cart/{{this.product_id}}"
                                style="margin-left: 40px;">See
                                product</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
        {{else}} {{!-- if the user is not logged--}}
        {{#if errorMessage}}
        <section class="py-5">
            <h1 class="display-3">Error</h1>
            <p>{{errorMessage}}</p>
        </section>
        {{else}}
        <div class="row">
            <div class="pagination">
                {{#each range}}
                <a onclick="showLoading()" href="/search/{{this.value}}">{{this.value}}</a>
                {{/each}}
            </div>
        </div>
        <div class="row">
            {{#each item}}
            <div class="col-sm d-flex align-items-stretch">
                <div class="card" style="width: 250px;">
                    <img class="card-img-top" src="/images/{{this.thumbnail}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <h4>${{price}}</h4>
                            <label id="displayLabel-{{@index}}"
                                style="	margin-left: 30px; margin-top: 5px; font-size: 15px;">
                                <font color="red">OUT OF STOCK</font>
                            </label>
                            <a class="btn btn-success" id="btnSeeProduct-{{@index}}"
                                href="/index/cart/{{this.product_id}}" style="margin-left: 40px;">See
                                product</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            <select id="selector">
                {{#each quantities}}
                <option hidden="true" value={{this}}>{{this}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}
    </div>
    {{/if}}
    <script src="/js/index.js"></script>
</body>

</html>