<div class="container">
    {{#if user}} {{!-- if the user is logged--}}
    {{#if errorMessage}} {{!-- the search failed--}}
    <section class="py-5">
        <h1 class="display-3">Error</h1>
        <p>{{errorMessage}}</p>
    </section>
    {{else}} {{!-- the search found something --}}
    <div class="row">
        {{#each item}}
        <div class="col-sm d-flex align-items-stretch">
            <div class="card" style="width: 250px;">
                <img class="card-img-top" src="/images/{{this.thumbnail}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <h4>${{this.price}}</h4>
                        <a class="btn btn-success" href="/index/cart/{{this.product_id}}" style="margin-left: 40px;">See
                            product</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{else}} {{!-- if the user is not logged--}}
    {{#if errorMessage}}
    <section class="py-5">
        <h1 class="display-3">Error</h1>
        <p>{{errorMessage}}</p>
    </section>
    {{else}}
    <div class="row">
        {{#each item}}
        <div class="col-sm">
            <div class="card" style="width: 250px;">
                <img class="card-img-top" src="/images/{{this.thumbnail}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-5">
                            <h4>Price</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <h4>${{this.price}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
{{/if}}