<header>

    {{#if user}} {{!-- logged user--}}
    <div class="row">
        <nav>
            <img src="/images/icons/logo.jpg" class="logo">
            <div class="shopping-section">
                <div>{{itemsAdded}}</div>
                <a href="#"><img src="/images/icons/shopping-cart.svg" class="cart-logo"></a>
            </div>
            <ul class="actions-nav">
                <li><a href="#">Sign in</a></li>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">cart</a> &nbsp;<i
                        class="ion-ios-cart-outline mini-cart-logo">&nbsp;&nbsp;{{itemsAdded}}</i></li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <ul class="options-nav js--main-nav">
            <li><a href="#">Departments</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">All products</a></li>
        </ul>
    </div>
    {{else}}
    {{#if presentationState}} {{!-- This means that the user is in the presentation view.--}}
    <div class="row">
        <img src="/images/icons/logo.jpg" class="logo">
    </div>
    {{else}} {{!-- non logged user--}}
    <img src="/images/icons/logo.jpg" class="logo">

        <div class="search-box">
            <input type="text" class="search-text" placeholder="">
            <a href="#" class="search-btn"><i class="ion-ios-search js-search-icon"></i></a>
        </div>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="nav-icon"></span></label>

    <ul class="actions-nav">
        <li><a href="#">{{itemsAdded}}</a></li>
        <li class="svg-cart-logo"><a href="#"><img src="/images/icons/shopping-cart.svg" class="cart-logo js--animation-4"></a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">cart&nbsp;<i class="ion-ios-cart-outline mini-cart-logo">&nbsp;&nbsp;{{itemsAdded}}</i></a></li>
    </ul>

    <ul class="options-nav-centered">
        <li><a href="#">Departments</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">All products</a></li>
    </ul>
    {{/if}}
    {{/if}}
</header>